<script>
 //Referred https://github.com/NatTuck/hangman-2019-01/tree/01-31-channel-hangman
  window.gameName = "<%= @game_name %>"
  window.playerName = "<%= @player_name %>"
</script>

<div id="root">
  <p>React app not loaded...</p>
</div>
