/* This file is for your main application css. */
@import "~bootstrap/dist/css/bootstrap.css";

.board{
    background-color: #837f9070;
    border-radius: 50px;
    box-shadow: 3px 2px #00000063;
}

body{
    background-color: #0c546024;
}